{% extends "layout.html" %}
{% block main %}
<div class="jumbotron jumbotron-fluid" id="jumbotron_index">
  <div class="container">
    <h1>PWDMGR - Password Manager</h1>
    <p>You only have to remember your master password.</p>

      <p class="lead">A password manager is a computer program that allows users to store, generate, and manage their personal passwords for online services. And that is exactly what PWDMGR was built for!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Sign In</a>
  </p>
  </div>
</div>
<div class="row">
  <div class="container">
    <h1 class="display-4">Get security related news headlines</h1>
   <p class="lead">Get the latest news from security related websites. We are using NEWS API a simple and easy-to-use API that returns JSON metadata for headlines and articles live all over the web right now.</p>
    <p class="lead">
    <a class="btn btn-light btn-lg" href="https://newsapi.org/" role="button">More...</a>
  </p>
  </div>
</div>

{% endblock %}
