{% extends "layout.html" %}
{% block main %}

<div class="container-fluid ">
    <div class="row">

        <div class="col-lg-2 ">
      <h4 class="my-4">{{session["username"]}}</h4>

      <nav class="navbar navbar-light">
          <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-links" href="{{url_for('items', type='all')}}"><i class="fas fa-list-alt"></i> All Items</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="{{url_for('items', type='socialmedia')}}"><i class="fab fa-instagram"></i> Social Media </a>
                </li>
                <li class="nav-item">
                       <a class="nav-link" href="{{url_for('items', type='finance')}}"><i class="fas fa-euro-sign"></i> Finance</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link"  href="{{url_for('items', type='education')}}"><i class="fas fa-university"></i> Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('items', type='newspaper')}}"><i class="fas fa-newspaper"></i> Newspaper</a>
                </li>

      <form action="/create" method="get" class="form-inline my-4">
            <button type="submit" class="btn btn-primary btn-md">Create new password</button>
          </form>
          </ul>
      </nav>
        </div>

        <div class="col-lg-6 main-violet">




               {% for row in query_passwords %}

              <div class="card my-4">
  <div class="card-body">
    <h5 class="card-title">{{row['service']|upper}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{row['url']}}</h6>

    <a href="{{url_for('details', type=row['service'])}}" class="card-link">View</a>

  </div>
</div>
        {% endfor %}

        {% for row in session_passwords %}

              <div class="card my-4">
  <div class="card-body">
    <h5 class="card-title">{{row['service']|upper}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{row['url']}}</h6>

    <a href="{{url_for('details', type=row['service'])}}" class="card-link">View</a>

  </div>
</div>
        {% endfor %}

        </div>
  <div class="col-lg-4">
        {% for row in query_services %}

        <div class="card my-4">
  <div class="card-header">
    <h2>{{query_services[0]['service']}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Your Data</h5>
    <p class="card-text">These are your specific account information:</p>
     <form action="/edit" method="post">
               <div class="form-group row">
    <div class="col-lg-4">
      <input name="service" type="hidden" readonly class="form-control-plaintext" id="service" value={{query_services[0]['service']}}>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-lg-4 col-form-label">Username:</label>
    <div class="col-lg-4">
      <input name="username" type="text" readonly class="form-control-plaintext" id="username" value={{query_services[0]['username']}}>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-lg-4 col-form-label">Password:</label>
    <div class="col-lg-4">
      <input name="password" type="text" class="form-control-plaintext" id="inputPassword" placeholder="Password" value={{query_services[0]['password']}}>
    </div>
  </div>
       <div class="form-group row">
    <div class="col-lg-4">
      <input name="confirmation" type="hidden" readonly class="form-control-plaintext" id="confirmation" value={{query_services[0]['password']}}>
    </div>
  </div>
  <div class="form-group row">
    <label for="website" class="col-lg-4 col-form-label">Website</label>
    <div class="col-lg-4">
      <input name="url" type="text" readonly class="form-control-plaintext" id="staticWebsite" value={{query_services[0]['url']}}>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-lg-4 col-form-label">Category</label>
    <div class="col-lg-4">
      <input name="category" type="text" readonly class="form-control-plaintext" id="category" value={{query_services[0]['category']}}>
    </div>
  </div>
    <button class="btn btn-primary btn-lg" type="submit">Edit</button>
</form>
  </div>
</div>




        {% endfor %}
        </div>
    </div>
</div>





{% endblock %}

